<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"

    <servlet>
        <servlet-name>chen</servlet-name>
        <servlet-class>
            com.chenjiudong.week2.demo.HelloWorldServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chen</servlet-name>
        <url-pattern>HelloWordServlet</url-pattern>
    </servlet-mapping>
</web-app>
